*
!*/

# C source and header files
!*.c
!*.h

# AT&T Syntax Assembly files
!*.S

# Linker scripts
!*.ld

# Make files
!Makefile
!*.mk

# Git files and folders
!.git*

# Markdown files
!*.md

# Make sure the cross-compiler is never included
Tools/cc